/* You can add global styles to this file, and also import other style files */

:root {
  color-scheme: light dark;
  --ngs-background: light-dark(#ecf0f3, #222831);
  --ngs-card-background: light-dark(#ffffff, #31363F);
  --ngs-card-color: light-dark(#000000, #ffffff);
  --ngs-text-color: light-dark(#000000, #ffffff);
  --ngs-icon-color: light-dark(#000000, #ffffff);
}

body {
  &.dark {
    color-scheme: dark;
  }

  &.light {
    color-scheme: light;
  }

  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
  padding: 0;
  margin: 0;
  background: var(--ngs-background);
}

* {
  box-sizing: border-box;
}

.card-content {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: 32px auto;
  padding: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr; /* One column for smaller screens */
  }
}

@media (max-width: 480px) {
  .grid {
    gap: 10px; /* Reduce gap for very small screens */
  }
}
